*{
    margin: 0;
    padding: 0;
}
form{
    width: 30%;
    margin: 0 auto;
}
label{
    font-size: 1.3em;
    font-weight: 900;
    padding-bottom: 10px;
}
.namefield{
    width: 46%;
    padding: 5px;
}

.field{
    width: 100%;
    display: block;
    padding: 5px;
}
span{
    color: red;
}
.submit{
    text-align: center;
    width: 100%;
    padding: 8px;
    border: solid 0;
    background-color: #4B909B;
    color: white;
}
.submit:hover{
    background-color: darkblue;
}